/*------------------------------------------------
MISC
------------------------------------------------*/
.group:after {
	content: '';
	display: table;
	clear: both;
}
.img-fluid {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/*------------------------------------------------
GLOBAL
------------------------------------------------*/
.block-zone {
	padding: 0 $gutter-width;

	> .inner {
		margin: 0 auto;
		@extend .group;
		.picture{
			a{
				img{
					@extend .img-fluid;
				}
			}
		}
	}
	@include breakpoint(desktop){
		>.inner{
			width:$global-width;
		}
	}

}


body {
	padding-top: 50px;
	background: url(#{$img-path}bg-1.png) repeat #fff;
	font-family: $font-normal;
}

/*------------------------------------------------
HEADER
------------------------------------------------*/

.navbar-inverse{
	background-color:#353535;

	.navbar-header{
		.navbar-brand{
			height: auto;
			padding:1px;
			img{
				width:100%;
			}

		}
		.navbar-toggle{
			margin-top:15px;
		}
		.form-group{
			padding-top:15px;
			@include breakpoint(desktop){
				padding-top:40px;
			}
			.form-control{
				border-radius:0;
				background-color:#5D5C5C;
				color:white;
				font-weight: bold;
				border:1px solid grey;
			}
			.form-control:focus{
				background-color:#E0E0E0;
				color:white;
				font-weight: bold;
				border:1px solid white;
			}
			
		}
	}

	.navbar-collapse{
		@include breakpoint(desktop){
			padding-top:40px;
		}
		.navbar-nav{		
			li{
				float:right;
				padding-right: 10px;
				a{
					color:white;
					font-weight: bold;
					padding:5px 15px 5px 15px;
				}
				&:nth-child(1){
					a{
						background-color:$color-4;
						border:2px solid lighten($color-4,10%);

					}
					a:hover{
						background-color:lighten($color-4,10%);
					}
				}
				&:nth-child(2){
					a{
						background-color:$color-1;
						border:2px solid lighten($color-1,10%);
					}
					a:hover{

						background-color:lighten($color-1,10%);
					}
				}
				&:nth-child(3){
					a{

						color:$color-3;
					}
					a:hover{
						color:lighten($color-3,20%);
					}
				}
			}
			.active{
				a{
					background:none;
				}
			}
		}

	}
}

/*------------------------------------------------

------------------------------------------------*/