


/*============= Nicolas ==========*/


.block-center{
	$width-col:100%;
	
	width:$width-col;
	
	.content-artiste{
		padding:10px;
	}
	
	
	.head-artiste{
		$height-name:250px;
		height:$height-name;
		position:relative;
		overflow:hidden;
		
		img{
			position:absolute;
			z-index:3;
		}
		
		.title-artiste{
			width:100%;
			background-color:rgba(black,0.3);
			position:absolute;
			bottom:0;
			margin:0;
			font-size:16pt;
			z-index:4;
			color:#FFFFFF;
			text-transform:uppercase;
			text-shadow: 0px 0px 5px #000000;
			font-family:$font-special-2;
		}
	}
	
	.search-bar-artiste{
		margin-bottom:20px;
		.input-group-addon {
			border-radius:0;
			background-color:$color-3;
			border: 1px solid $color-3;
		}
		
		.form-control{
			border-radius:0;
			border: 1px solid $color-3;
		}
	}
	
	.block-new{
		.title-block{
			margin:0;
			background-color:$color-4;
			color:#FFFFFF;
			text-align:center;
			text-transform:uppercase;
			font-family:$font-special-1;
			font-size:16pt;
			padding:5px;
			
		}
	}
	
	
}




/*=================================*/