$icon-font-path:"../vendors/bootstrap/assets/fonts/bootstrap/";

$color-1:#FFBC42;
$color-2:#D81159;
$color-3:#8F2D56;
$color-4:#218380;

<<<<<<< HEAD
$color-5:#FFFFFF;
$color-6:#000000;

//------------------------------------------------
// VARIABLES
//------------------------------------------------

$global-width: 1170px;

$link-color: $color-1;

$font-normal: Tahoma, Arial, sans-serif;
$font-special-1: "Chau Philomene One", Arial, sans-serif;
$font-special-2: "Catamaran", Tahoma, sans-serif;

$img-path: "../images/";

// Breakpoints
$screen-md: 768px;
$screen-lg: 1025px;

// Grid
$gutter-width: 15px;
$nb-col-sm: 0;
$nb-col-md: 2;
$nb-col-lg: 3;
=======
$color-5:#333333;

$font-normal: Arial, Tahoma, sans-serif;
$font-special-1: "Montserrat",Arial,sans-serif;
$font-special-2: "Source Sans Pro","Trebuchet sans ms", sans-serif;

>>>>>>> nicolas
